@{
  Layout = "_Layout";
}

@model BakeryPlus.Models.Flavor;

<div class=headerpadding></div>

<h4>Add treats offering this flavor:  @Html.DisplayFor(model => model.Description)</h4>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select a treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Add new treat">
}
<p>@Html.ActionLink("Show All Combinations", "Index")</p>


